In [1]:
import pandas as pd

In [6]:
PollutionData = 'Resources/pollution_2000_2023.csv'
pollution_df = pd.read_csv(PollutionData, low_memory=False)

In [7]:
pollution_df.head()

,Unnamed: 0,Date,Address,State,County,City,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,...,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,0,2000-01-01,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.019765,0.040,10,37,...,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,1,2000-01-02,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.032,10,30,...,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2,2000-01-03,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.009353,0.016,9,15,...,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,3,2000-01-04,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.033,9,31,...,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,4,2000-01-05,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.007353,0.012,9,11,...,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58

In [8]:
#Column names & row count
print(pollution_df.columns)
print(len(pollution_df))

Index(['Unnamed: 0', 'Date', 'Address', 'State', 'County', 'City', 'O3 Mean',
       'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'CO Mean',
       'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI', 'SO2 Mean',
       'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI'],
      dtype='object')
665414

In [9]:
#County names & county count
county_list = []
for row in pollution_df["County"]:
    if row not in county_list:
        county_list.append(row)
print(county_list)
print(len(county_list))

['Maricopa', 'Pima', 'Contra Costa', 'Imperial', 'Kern', 'Los Angeles', 'Orange', 'Riverside', 'Sacramento', 'San Bernardino', 'San Diego', 'San Francisco', 'Santa Barbara', 'Santa Cruz', 'Solano', 'Ventura', 'Adams', 'District of Columbia', 'Cook', 'Marion', 'Linn', 'Sumner', 'Wyandotte', 'Boyd', 'Daviess', 'Fayette', 'Henderson', 'Jefferson', 'McCracken', 'East Baton Rouge', 'Wayne', 'Saint Louis', 'St. Louis City', 'Camden', 'Bronx', 'Queens', 'Suffolk', 'Forsyth', 'Mecklenburg', 'Cherokee', 'Kay', 'Allegheny', 'Beaver', 'Berks', 'Blair', 'Bucks', 'Cambria', 'Lackawanna', 'Lancaster', 'Lawrence', 'Montgomery', 'Northampton', 'Philadelphia', 'Washington', 'Westmoreland', 'York', 'Dallas', 'El Paso', 'Harris', 'Fairfax', 'Alexandria City', 'King', 'Milwaukee', 'Alameda', 'Saint Clair', 'Clark', 'Essex', 'Ottawa', 'Kent', 'Hillsborough', 'Haywood', 'Meigs', 'Fresno', 'Charleston', 'Denver', 'Erie', 'Humboldt', 'New Haven', 'Scott', 'Aroostook', 'Baltimore', 'Tulsa', 'Dauphin', 'Luzerne', 'Pulaski', 'Fairfield', 'Hartford', 'Polk', "Prince George's", 'Multnomah', 'McLennan', 'Uinta', 'Cumberland', 'Steuben', 'Cass', 'Adair', 'Blount', 'Bexar', 'Santa Clara', 'Ada', 'Athens', 'Medina', 'Litchfield', 'DeKalb', 'Washoe', 'Henrico', 'Hampton City', 'New Castle', 'Honolulu', 'Anoka', 'Bernalillo', 'Monroe', 'Cuyahoga', 'Hamilton', 'Oklahoma', 'Providence', 'Minnehaha', 'Salt Lake', 'Laramie', 'Sweetwater', 'Jackson', 'Travis', 'Duchesne', 'Uintah', 'Union', 'Roanoke', 'Fairbanks North Star ', 'Garrett', 'Rockingham', 'Wake', 'Fremont', 'Hinds', 'Burleigh', 'Richland', 'Rutland', 'Broward', 'Shelby']
137